.single-info {
  background: #f0f0f0;
  box-sizing: border-box;
  padding: 0 9px;
  margin-bottom: 15px;
  border-radius: 12px;

  &__head {
    box-sizing: border-box;
  }

  &__adult, &__seat, &__marker {
    display: inline-block;
    box-sizing: border-box;
    margin: 13px 0;

    img {
      width: 18px;
    }

    .icon, .text {
      display: block;
      text-align: center;
    }

    .text {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      i { font-size: 17px }
    }

    .text {
      margin-top: 2.1px;
      font-family: newHelvetica, sans-serif;
      font-weight: 600;
      font-size: 13px;
    }
  }

  &__adult, &__seat {
    float: left;
  }

  &__adult {
    margin-left: 17px;
  }

  &__seat {
    margin-left: 30px;
  }

  &__marker {
    float: right;
    margin-right: 17px;
    width: 65px;
  }

  &__underlay {
    border-bottom: 1px solid rgb(224, 224, 224);
    clear: both;
  }

  &__body {
    box-sizing: border-box;
    min-height: 66px;
  }

  &__add-personal-message, &__personal-info {
    display: inline-block;
    font-size: 14px;
    font-family: newHelvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 25.5px;
    vertical-align: middle;
  }

  &__personal-info {
    padding-bottom: 0;
    padding-top: 15px;
  }

  &__full-name, &__ID {
    font-size: 13px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 600;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__full-name {
    margin-bottom: 3px;
  }

  &__add-personal-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    float: right;
    padding: 25.5px 42px 25.5px 25.5px;

    img {
      width: 14px;
      height: 14px;
    }
  }

}

// For Devices with 361px width and less
@media only screen and (max-width: 361px) {
  .single-info {

    &__adult, &__seat, &__marker {
      margin: 11px 0;

      img {
        width: 16px;
      }

      .icon {
        i { font-size: 17px }
      }

      .text {
        margin-top: 2.1px;
        font-size: 12px;
      }
    }

    &__adult {
      margin-left: 12px;
    }

    &__seat {
      margin-left: 26px;
    }

    &__marker {
      margin-right: 16px;
      width: 55px;
    }

    &__add-personal-message {
      font-size: 12px;
      max-width: 156px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__full-name {
      max-width: 100px;
    }

    &__add-personal-icon {
      padding: 25.5px 36px 25.5px 25.5px;
    }
  }
}
